html, body {
	padding-top: 80px;
	height:100%;
}

.nav-sidebar{
	height:100%;
}

#subscribe{
	margin-right: 10px;
}

#headerBadges{
	margin-top: 10px;
}

#navBarTop{
	height:60px;
}

#footerText{
	margin-top: 50px;
	text-align:center;
}

#footer{
	margin-bottom: 0px !important;
}

#theContent{
	margin-bottom: 100px;
	position:relative;
}

.form-control{
	margin: 10px;
}