## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    
    <title>CHF Delux</title>
    <link rel="icon" type="image/png" href="http://ifunny.co/public/images/favicons/favicon-195.png" />
    
    ## add any site-wide scripts or CSS here; for example, jquery:
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    

  
    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }
  
  </head>
  <body>
  
    <header>
      <%block name="header">
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-left">
        <div class="container-fluid">
          <div class="navbar-header" id="navBarTop">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Colonial Heritage Foundation</a>

          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav nav-pills pull-right" role="tablist" id="headerBadges">
              <li><a href="/homepage/index">Home</a></li>
              <li><a href="/homepage/users">Users</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </%block>
  </header>

  ## <nav class="navbar navbar-default navbar-fixed-top">
  ##   <%block name="navbar">
  ##     <div class="container">
        
  ##     </div>
  ##   </%block>
  ## </nav>


  <div class="container" id="theContent">
    <%block name="content">
      Site content goes here in sub-templates.
    </%block>  
  </div>

  <div class="navbar navbar-inverse" id="footer">
    <%block name="footer">
      <div id="footerText" class="container">
        <ul class="navbar-text">              
          <p><a href="/homepage/about">About</a></p>
          <p><a href="/homepage/contact">Contact</a></p>
          <p><a href="/homepage/terms">Terms</a></p>
        </ul>
      </div>
    </%block>
  </div>

    ## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }
  
  </body>
</html>