## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    
    <title>CHF Delux</title>
    <link rel="icon" type="image" href="http://ifunny.co/public/images/favicons/favicon-195.png"/>
    
    ## add any site-wide scripts or CSS here; for example, jquery:
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.js">
    </script>
    <script src="${ STATIC_URL }homepage/media/jquery.form.js">
    </script>
     <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js">
    </script>
    ## <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/catalog.css">
    

  
    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }
  
  </head>
  <body>
  
    <header>
      <%block name="header">

        <nav class="navbar navbar-inverse navbar-fixed-top navbar-left">
        <div class="container-fluid">
          <div class="navbar-header" id="navBarTop">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Colonial Heritage Foundation</a>

          </div>
          <div id="navbar" class="collapse navbar-collapse offcanvas">
            <ul class="nav nav-pills pull-right" role="tablist" id="headerBadges">
            <li><a href="/homepage/index">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse Catalogs<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/homepage/catalog">Product Catalog</a></li>
                  <li class="divider"></li>
                  <li><a href="/homepage/rental_catalog">Rental Catalog</a></li>
                </ul>
              </li>
            % if request.user.is_superuser or request.user.is_staff:
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Management <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/homepage/users">Users</a></li>
                  <li><a href="/homepage/events">Events</a></li>
                  <li><a href="/homepage/areas">Areas</a></li>
                  <li><a href="/homepage/saleitems">Sale Items</a></li>
                  <li><a href="/homepage/items">Items</a></li>
                  <li><a href="/homepage/products">Products</a></li>
                  <li><a href="/homepage/rentals">Rentals</a></li>
                  % if user.is_superuser:
                  <li><a href="/homepage/permissions">Permission</a></li>
                  %endif
                </ul>
              </li>
            %endif

              % if request.user.is_authenticated():
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as ${request.user.get_full_name()} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  ## <li><a href="/homepage/users.edit/${request.user.id}/">Edit my Account</a></li>
                  <li><a href="/homepage/account/${request.user.id}/">View my Account</a></li>
                  <li class="divider"></li>
                  <li><a href="/homepage/index.logout_view">Logout</a></li>
                </ul>
              </li>
              % else:
                <li><a id="show_login_dialog">Login</a></li>
              % endif
            </ul>
          </div>
        </div>
      </nav>

    </%block>
  </header>


  <div class="container" id="theContent">
    <%block name="content">
      Site content goes here in sub-templates.
    </%block>  
  </div>

  <div class="navbar navbar-inverse" id="footer">
    <%block name="footer">
      <div id="footerText" class="container">
        <ul class="navbar-text col-md-10">
          <p><h6><a href="/homepage/about">About</a></h6></p>
          <p><h6><a href="/homepage/contact">Contact</a></h6></p>
          <p><h6><a href="/homepage/terms">Terms</a></h6></p>
        </ul>
      </div>
    </%block>
  </div>

    ## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }
  
  </body>
</html>