<%block name="content">

	<div id="thankyou"class="container col-md-12">
    	<h1>Thank You</h1>
    	<hr>
	</div>

    <div class="container col-md-12">
    <h3>Receipt for Payment</h3>
        %if product_list2:
        <table id="shopping_cartTable">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            %for product in product_list2:
            <tr>
                <td>${product.name}</td>
                <td>$${product.currentPrice}</td>
                <td>${qty}</td>
            </tr>
            %endfor
        </table>
        %endif
        %if item_list2:
        <table id="shopping_cartTable">
            <tr>
                <th>Item</th>
                <th>Price / day</th>
                <th>Quantity</th>
            </tr>
            %for item in item_list2:
            <tr>
                <td>${item.name}</td>
                <td>$${item.STP}</td>
                <td>${qty}</td>
            </tr>
            %endfor
        </table>
        %endif
        %if rental_return:
            <div><span>Damage Fee:</span> $${rental_return.damageFee}</div>
            <br>
            <div><span>Late Fee:</span> $${rental_return.lateFee}</div>
            <br>
            <div><span>Total Fee:</span> $${rental_return.totalFee}</div>
        %endif
    </div>

</%block>











