<%inherit file="base.htm" />

<%block name="content">
    <h1>Event Form</h1>
    <form method='POST'>
	    <table>
	    	${form}
	    </table>
	    <button class='btn btn-xl btn-primary' type="submit">Save</button>
	    <a class='btn btn-xl btn-danger' href="/homepage/events.delete/${event.id}/">DELETE</a>
	    % if event.name == "":
	    	<a class='btn btn-xl btn-default' href="/homepage/events.delete/${event.id}/">Cancel</a>
	    %elif event.name != "":
	    	<a class='btn btn-xl btn-default' href="/homepage/events/">Cancel</a>
	    %endif
	    <p>warning: if you delete an event, it will delete all areas attached to it.</p>
    </form>
</%block>