<%inherit file="base.htm" />

<%block name="content">
    <h1>Forgot Password</h1>
    %if gotUser is True:
    	<div>${user.secQuestion}</div>
    %endif
    <form method='POST'>
	    <table>
	    	${form}
	    </table>
		%if gotUser is False:
	    <button id="" class='btn btn-xl btn-primary' type="submit">Find User</button>
	    %else:
	    <button id="" class='btn btn-xl btn-primary' type="submit">Send Email</button>
	    <hr>
	    <span class="label label-danger">Important </span>
	    <p> Once you enter the valid answer to the question, check your email for more instructions.</p>
	    %endif
    </form>
</%block>