<%inherit file="base.htm" />


<%block name="content">
	%if request.user.username != '':
		<div id="personalHello">
			<h1 >Hello, ${request.user.get_full_name()}!</h1>
		</div>
	%else:
		<div id="personalHello">
			<h1>Hello, Visitor!</h1>
		</div>
	%endif
	<hr>
    <div class="jumbotron">
      ## <div class="container">
        <h1>Colonial Heritage Foundation</h1>
        <p>
            Welcome to the Colonial Heritage Foundation website! This foundation provides
            opportunities to you to experience the colonial life through various events and products
            available for you to purchase or rent.
        </p>
        <p><a class="btn btn-primary btn-lg pull-right" href="/homepage/users.userCreate" role="button">Create Account</a></p>

      ## </div>
    </div>
    <br>
      <hr>
      <br>
          <div class="snapshots">

      <div class="col-lg-4">
      <img class="img-circle thing_blurb" src="${STATIC_URL}homepage/media/Events/colonial_event.jpg">
          <h2>Attend Events!</h2>
          <p>These events are put on by a fantastic group of volunteers that help you experience life in the colonial times!
          Click to see more details...</p>

          <p><a class="btn btn-primary" href="/homepage/event_catalog" role="button">View details &raquo;</a></p>
       </div>

       <div class="col-lg-4">
       <img class="img-circle thing_blurb" src="${STATIC_URL}homepage/media/Products/products_purhcase.jpg">
          <h2>Buy Colonial Products!</h2>
          <p>Interested in buying colonial era products? Come checkout the product catalog!</p>
          <p><a class="btn btn-primary" href="/homepage/catalog" role="button">View details &raquo;</a></p>
       </div>

       <div class="col-lg-4">
       <img class="img-circle thing_blurb" src="${STATIC_URL}homepage/media/Items/rental_thing.jpg">
          <h2>Rent Colonial Items!</h2>
          <p>Feel free to rent items we own! Allow us to help you recreate your own experiences!</p>
          <p><a class="btn btn-primary" href="/homepage/rental_catalog" role="button">View details &raquo;</a></p>
       </div>
       </div>
</%block>
