<%inherit file="base.htm" />

<%block name="content">
    <div class="jumbotron">
      <div class="container">
        <h1>Colonial Heritage Foundation</h1>
        <p>
       		This paragraph will be an explanation of the fondation and what they do. Eventually, it would be great to have a carosel of images displaying 3 things: Events, merchandise, and volunteer opportunities.
        </p>
        <p><a class="pull-left" href="/homepage/login">Sign in</a></p>
        <p><a class="btn btn-primary btn-lg pull-right" href="/homepage/users.create" role="button">Create Account</a></p>
      </div>
    </div>
   

    

</%block>