<%inherit file="base.htm" />

<%block name="content">
    <h1>This is the index view content</h1>
    <div class="jumbotron col-md-9">
      <div class="container">
        <h1>Meat, the essence of food.</h1>
        <p>Meatball turkey bresaola shoulder porchetta tail prosciutto pork chop flank tenderloin short ribs pork belly. Cow bacon ground round doner ham pig turkey strip steak picanha ham hock t-bone. Kevin shankle capicola, andouille swine chicken tongue biltong pork. Pastrami doner rump drumstick swine short ribs.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    

</%block>