<%inherit file="base.htm" />

<%block name="content">
    <h1>Item Management     <a role="button"class='btn btn-xl btn-danger pull-right' href="/homepage/items.late/">All over-due items</a>
</h1>
    <hr>
    <p><a class="btn btn-primary btn-lg" href="/homepage/items.create" role="button">Create Item</a></p>

    <div class="container col-md-9">
      <table id="roleTable" class="table table-hover">
        <tr >
          <th>Name</th>
          <th>Description</th>
          <th>Value</th>
          <th>Rental Price</th>
          <th>Due Date</th>
          <th>Action</th>
        </tr>
        % for item in items:
        <tr>
          <td>${item.name}</td>
          <td>${item.description}</td>
          <td>${item.value}</td>
          <td>${item.STP}</td>
          <td>${item.dueDate}</td>
          <td>
          <a class='btn btn-xl btn-primary' href="/homepage/items.edit/${item.id}/">EDIT</a>
          </td>
        </tr>
        %endfor
      </table>
    </div>


</%block>