<%inherit file="base.htm" />

<%block name="content">
    <h1>This is the terms view content</h1>
    <div class="panel panel-default col-md-10">
	  <div class="panel-heading">
	    <h3 class="panel-title">Terms & Conditions</h3><span class="label label-danger">Important</span>
	  </div>
	  <div class="panel-body">
	    <p>Bacon ipsum dolor amet picanha ground round porchetta leberkas, shankle shank swine ribeye boudin sirloin pancetta sausage andouille strip steak. Doner frankfurter chuck shoulder salami biltong. Pancetta cow brisket, landjaeger doner turducken jowl shankle pork ground round filet mignon. Porchetta rump pastrami brisket corned beef beef ribs tail sirloin, spare ribs tongue landjaeger leberkas ribeye capicola hamburger.
	    </p>

		<p>Cupim biltong chuck shoulder meatloaf jowl short loin venison prosciutto. Ribeye tail spare ribs ground round sausage. Picanha turducken meatball, jerky boudin corned beef sirloin. Sirloin salami swine spare ribs bacon ribeye corned beef meatloaf kielbasa.
		</p>

		<p>Pig venison swine pork loin ball tip alcatra kielbasa landjaeger chicken spare ribs meatball meatloaf andouille. Short loin salami ham hock tail turducken venison pig tongue meatball cupim drumstick shoulder. Turkey ground round brisket ham. Tail leberkas beef capicola pork belly kielbasa pig shankle. Tenderloin sausage porchetta swine ball tip fatback filet mignon prosciutto shoulder meatball pig kielbasa ground round pork loin. Ground round spare ribs tenderloin shank turkey prosciutto. Cow chuck prosciutto chicken leberkas landjaeger.
		</p>

		<p>Salami pork belly corned beef beef ribs jerky, shankle picanha tail ham hock pork. Short ribs bacon bresaola salami filet mignon cupim. Sausage swine chicken spare ribs, alcatra sirloin ham flank. Pancetta biltong swine beef ribs chuck cow pastrami rump brisket frankfurter. Frankfurter venison filet mignon, pork loin tenderloin chuck fatback spare ribs biltong turducken tongue.
		</p>

		<p>T-bone sausage picanha, jerky venison landjaeger ball tip capicola cow cupim. Leberkas pork chop boudin, ribeye kevin tri-tip short loin beef ribs pancetta. Salami jerky corned beef prosciutto ball tip andouille. Ground round tenderloin bacon biltong. Biltong tongue pork loin hamburger strip steak flank, cupim short loin.
		</p>
		<button type="button" class="btn btn-success pull-right">I Agree</button>
	  </div>
	</div>

</%block>